<h2>Registro</h2>
<div>
  <span>Placa:</span><input type="text" [(ngModel)]="vehiculo.placa" id="placa" name="placa"/>
</div>
<div>
  <span>Tipo de vehiculo:</span>
  <input type="radio" id="moto" name="tipoVehiculo" value="MOTO" [(ngModel)]="vehiculo.tipoVehiculo">Moto
  <input type="radio" id="carro" name="tipoVehiculo" value="CARRO" [(ngModel)]="vehiculo.tipoVehiculo"/>Carro
</div>
<div *ngIf="vehiculo.tipoVehiculo=='MOTO'">
  <span>Cilindraje:</span>
  <input type="number" [(ngModel)]="vehiculo.cilindraje" id="cilindraje" name="cilindraje"/>
</div>
<div>
  <span>Fecha de ingreso:</span>
  <input type="text" [(ngModel)]="vehiculo.fechaIngreso" id="fechaIngreso" name="fechaIngreso"/>
</div>
<div>
  <button type="button" id="ingresar" name="ingresar" (click)="registrarIngreso()">Registrar ingreso</button>
</div>