<div *ngIf="vehiculo">
  <nz-modal [(nzVisible)]="vehiculo.visible" nzTitle="Registrar salida" (nzOnCancel)="ocultarModal()" (nzOnOk)="registrarSalida()">
    <h2>{{vehiculo.placa}}</h2>
    <div>
      <span>Tipo: </span>{{vehiculo.tipoVehiculo}}
    </div>
    <div *ngIf="vehiculo.cilindraje">
      <div>
        <span>Cilindraje: </span>{{vehiculo.cilindraje}}
      </div>
    </div>
    <div>
      <span>Fecha de ingreso: </span>{{vehiculo.fechaIngreso}}
    </div>
    <div>
      <span>Fecha de salida: </span><input type="text" [(ngModel)]="vehiculo.fechaSalida" id="fechaSalida" name="fechaSalida"/>
    </div>
  </nz-modal>
</div>