<nz-layout class="layout">
    <nz-header>
        <h1>{{title}}</h1>
    </nz-header>
    <nz-content class="contorno">
        <div nz-row>
            <app-mensajes></app-mensajes>
        </div>
        <div nz-row>
            <div nz-col nzXs="24" nzSm="8" nzMd="6" class="contorno">
                <app-vehiculo-registro></app-vehiculo-registro>
            </div>
            <div nz-col nzXs="24" nzSm="16" nzMd="18" class="contorno">
                <app-vehiculos></app-vehiculos>
            </div>
        </div>
    </nz-content>
</nz-layout>